.bild-width {
    width: 40%;
}

.bilder {
    width: 70%;
    margin: 5rem auto;
    border: 1px solid #4b4b4b;
    border-radius: 1rem;
    padding: 1rem;
    min-height: 50vh;
    
}

.shopping-cart {
    min-width: 450px;
}


.bilddetalj {
    width: 58%;
    height: auto;
    margin: 10rem 20rem  auto;
    border: 3px solid #4b4b4b;
    border-radius: 2rem;
    padding: 1rem;
    min-height: 50vh;
}